.photo-grid {
   max-width: calc(100% - (48px*2));
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(279px, 1fr));
    gap: 16px 16px;
    justify-items: center;
}

@media screen and (max-width: 1024px) {
   .photo-grid {
    gap: 14px 14px;
    grid-template-columns: repeat(auto-fit, minmax(294px, 1fr));
   }
}

@media screen and (max-width: 768px) {
    .photo-grid {
     gap: 16px 16px;
     grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
     max-width: calc(100% - (24px*2));
    }
 }

 @media screen and (max-width: 675px) {
    .photo-grid {
     gap: 12px 12px;
     grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
     max-width: calc(100% - (16px*2));
    }
 }

 