.photo-grid__img {
    max-width: 279px;
    max-height: auto;
}

@media screen and (max-width: 1024px) {
   .photo-grid__img {
    max-width: 294px;
    max-height: auto;
   }
}

@media screen and (max-width: 768px) {
    .photo-grid__img {
     max-width: 343px;
     max-height: auto;
    }
 }

 @media screen and (max-width: 675px) {
    .photo-grid__img {
     max-width: 288px;
     max-height: auto;
    }
 }