.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
    min-width: 300px;
    max-width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {
    .header {
        padding-bottom: 48px;
    }
}