.baikal__content {
    width: 1184px;
    height: 740px;
    background-image: url(../../../images/cover-trains.jpg);
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 0.65;
}

@media screen and (max-width: 1184px) {
    .baikal__content {
        width: 100%;
        height: auto;
    }
}

