.header__lang-links {
    margin: 46px 48px 0 0;
    display: inline;
}

@media screen and (max-width: 768px) {
    .header__lang-links {
        margin-right: 28px;  
    }
 }

 @media screen and (max-width: 675px) {
    .header__lang-links {
        margin: 30px 16px 0 0;
    }
 }